<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Show</title>
</head>
<body>
<p th:text="${cat.getName() + ', ' + cat.getBirthdate()}">VALUE</p>

<div th:if="${friends.isEmpty()}">
    <p>У кота нет друзей</p>
    <hr/>
</div>

<div th:if="${!friends.isEmpty()}">
    <hr/>
    <b>Друзья:</b>
    <br/>
    <table th:each="friend : ${friends}">
        <tr>
            <td>
                <span th:text="${friend.getName() + ', ' + friend.getBreed() + ', ' + friend.getColor()}">
                </span>
            </td>
        </tr>
    </table>
    <hr/>
</div>

<form th:method="DELETE" th:action="@{/cats/{id}(id=${cat.getId()})}">
    <input type="submit" value="Удалить"/>
</form>

</body>
</html>
